@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
body{
	background:#CDE0EB;
}

.logo{
	width:73px;
	height:136px;
	position:absolute;
	top:27px;
	left:600px;
	
}
	
	
	
.f{
	width:800px;
	height:500px;
	position:absolute;
	top:150px;
	left:300px;
	background:#fff;
	border:2px solid #ADBC81;
	border-radius:20px;
}
h1{
	color:#6C95D0;
	font-family:"STXingkai";
	font-size:48px;
	top:50px;
	left:70px;
	position:absolute;
}
p{
	display:inline-block;
	margin-left:40px;
}
form{ 
     width:740px;
     height:500px;
     margin-top:130px;
     margin-left:180px;
}

form div{ 
       overflow:hidden;
       clear:both;
}

form div label{ 
        float:left;
        clear:both;
}

form div label .text{
	width:200px;
	height:26px;
	padding:0 2px;
	border:1px solid #ccc;
}

form div label b{ 
         font-weight:normal;
		 font-size:15px;
		 color:#ccc;
		 visibility:hidden;
		 position:relative;
		 margin-left:7px;
}

form div em{ 
       display:inline-block; 
	   font-size:15px;
	   text-align:center;
	   color:#fff;
	   vertical-align:middle;
	   font-style:normal;
	   width:68px;
	   height:15px;
	   line-height:15px;
	   background:#AECBE8;
	   position:relative;
	   right:-9px;
}

form div .active{ 
      background-color:#3D97E9;
}

div span{ 
     display:inline-block;
	 width:80px;
	 text-align:right;
}

.submitBtn{ 
    width:135px;
	height:33px;
	background:url(../images/a.png);
	color:#fff;
	margin:20px 0 0 110px;
}

a{ 
	vertical-align:middle;
	text-decoration:none;
	position:relative;
	top:-10px;
	
}
.yz{
	position:relative;
	margin-left:20px;
}

.msg{ 
    line-height:12px;
	color:#666;
	float:left;
	margin-left:5px;
	margin-top:10px;
	display:none;
}

.msg  i{ 
    display:inline-block;
	vertical-align:middle;
	width:25px;
	height:20px;
}
.d{
	position:relative;
	top:8px;
	left:10px;
}
.yi{
	position:relative;
	top:11px;
	left:10px;
}

.msg .ati{
    background:url(../images/05.png) no-repeat 2px -1px;
}
.msg .err{
    background:url(../images/01.png) no-repeat 2px -1px;
}
.msg .ok{
    background:url(../images/02.png) no-repeat 2px -1px;
}
.ver_img{
    height:35px;
    width: 68px;
    bottom: 0;
    vertical-align: bottom;
}/* CSS Document */





